obj/
bin/
Debug/
Release/
TestResults/
packages/
Ignored/
.vs/

storage.ide
*.nupkg
*.exe
*.dll
*.suo
*.ncb
*.vspcc
*.vscc
*.vssscc
*.scc
*.vspscc
*.obproj.vspscc
*.obproj.map
*.cache

publish.bat
*.pfx
